* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: auto;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	margin: 0;
	width: 100%;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
	background-color: #f5f5f5;
	color: #000;
}
