.card-container {
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	align-items: center;
	transition: ease-in-out 0.3s;
}

.card-container > img {
	width: 40px;
}

.card-container > h3 {
	font-weight: normal;
	margin-left: 0.5rem;
}

.card-container:hover {
	background-color: lightblue;
}
