.home-container {
	width: 90%;
	/* max-width: 80ch; */
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* padding-top: 2rem;
	padding-bottom: 2rem; */
	/* border: 1px solid red; */
	font-size: calc(10px + 1vw);
}

.home__left {
	width: 60%;
	padding-left: 1.4rem;
}

.header-text {
	margin-left: 12px;
}

@media screen and (max-width: 780px) {
	.home-container {
		flex-direction: column;
		align-items: flex-start;
	}

	.home__left {
		padding-left: 0;
		width: 100%;
	}

	.home__svg {
		display: none;
	}
}
