.home-container {
	width: 90%;
	max-width: 80ch;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border: 1px solid red;
}

.header-text {
	text-align: center;
}
